# Ignore configuration
./ScribeBE/config.py

# Ignore venv
./ScribeBE/venv/

# Ignore cache files
./ScribeBE/__pycache__/

# Ignore uploaded files
./ScribeBE/Uploads/*
!./ScribeBE/Uploads/.gitkeep

# Ignore API key references
.config.ps1
.config.sh