.aboutContainer {
    width: 80%;
    margin: auto;
    padding-block: 5rem 8rem;

    h1 {
        font-size: 2.5rem;
        color: var(--h1);
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5vh;

    h2 {
        font-size: 1.75rem;
        color: var(--h2);
    }
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    color: var(--text-orange);
}

.pic{
    border-radius: 12px;
    margin-bottom: 25px;
}