#new-note-buttons {
	align-items: flex-end;
	display: flex;
}

button {
	appearance: none;
	border: 1px solid transparent;
	outline: none;
	background: none;
    margin: 4px;
}

#upload-audio-file, #record-audio, #stop-recording {
	color: var(--light);
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--darkest); /* Dark background color */
    border-radius: 8px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer;
    transition: all 0.25s ease;
}

.stop-icon {
    color: var(--light-crimson);
}

#record-audio:hover, #record-audio:active,
#upload-audio-file:hover, #upload-audi0-file:active,
#stop-recording:hover, #stop-recording:active {
	border: 1px solid var(--orange);
    transition: all 0.5s ease;
}