#new-note-buttons {
	align-items: flex-end;
	display: flex;
}

button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
    margin: 4px;
}

#upload-audio-file {
	color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--darkest); /* Dark background color */
    border: none; /* Remove default button border */
    border-radius: 8px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer;
    transition: 0.4s;
}


#upload-audio-file:hover {
	opacity: 0.8;
}

#upload-audio-file:active {
	opacity: 0.6;
}

#record-audio {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--darkest); /* Dark background color */
    border: none; /* Remove default button border */
    border-radius: 8px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer;
    transition: 0.4s;
}

#record-audio:hover {
	opacity: 0.8;
}

#record-audio:active {
	opacity: 0.6;
}

#stop-recording {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--darkest); /* Dark background color */
    border: none; /* Remove default button border */
    border-radius: 8px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer;
    transition: 0.4s;
}


#stop-recording:hover {
	opacity: 0.8;
}

#stop-recording:active {
	opacity: 0.6;
}

.stop-icon {
    color: var(--red);
}