:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--yellow: #fad000;
	--yellow-orange: #fbb238;
	--orange: #f5a802;
	--dark-orange: #d19004;
	--crimson: #DC2626;
	--red: #bd1502;
}