@import './colors.css';
@import './note.css';
@import './buttons.css';

body {
  margin: 0;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--darkest);
}

.home-container {
	padding-bottom: 8rem;
}

header {
	padding: 5rem 1rem 1.25rem;
	max-width: 80%;
	width: 100%;
	margin: 0 auto;
    display: flex;
	align-items: center;
    justify-content: space-between;
}

header h1{ 
	font-size: 2.5rem;
	color: var(--orange);
}

main {
	flex: 1 1 0%;
	width: 80%;
	margin: auto;
}

#new-note-buttons {
	padding-inline: 0.75rem;
}