@import './colors.css';
@import './note.css';
@import './buttons.css';

body {
  margin: 0;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--text-light);
}

.home-container {
	padding-bottom: 8rem;
}

header {
	padding: 4rem 1rem 1.25rem;
	max-width: 80%;
	width: 100%;
	margin: 0 auto;
    display: flex;
	align-items: center;
    justify-content: space-between;
}

header h1{ 
	font-size: 2.5rem;
	color: var(--h1);
}

.logo {
	height: 5rem;
	margin-right: 1.25rem;
	padding-top: 10px;
}

main {
	flex: 1 1 0%;
	width: 80%;
	margin: auto;
}

#new-note-buttons {
	padding-inline: 0.75rem;
}

@media (max-width: 600px) {
	header {
		max-width: 100%;
		padding-inline: 1.5rem;
		padding-top: 2.5rem;

		h1 {
			font-size: 2rem;
		}
	}

	.home-container {
		padding-bottom: 4rem;
	}
	
	main {
		width: 100%;
		padding-inline: 1.5rem;
	}

	#new-note-buttons, .note-list {
		padding-inline: 0;
	}

	button {
		margin-inline: 0;
	}

	.logo {
		height: 4rem;
	}
}