@import './colors.css';
@import './note.css';
@import './buttons.css';

body {
  margin: 0;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
    display: flex;
	align-items: center;
    justify-content: space-between;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
  	font-style: bold;
	background-clip: text;
	color: transparent;
	background-image: linear-gradient(to right, var(--yellow-orange), var(--dark-orange));
	margin-right: 1rem;
    margin-top: 1rem;
	margin-bottom: 1rem;
}

main {
	flex: 1 1 0%;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
