.zone {
    cursor: pointer;
    font-size: 2em;
    transition: all 0.3s linear;
}

.main-nav{
    display: flex;
    font-size: 0.7em;
    list-style: none;
    margin : 0;
}

.push{
    margin-left: auto;
}

li{
    padding: 15px;
}


a {
    color: var(--darkest);
    text-decoration: None;
    border: 1px solid transparent; 
    border-radius: 4px;
    padding-block: 5px;
    padding-inline: 8px;
}

a:hover, a:focus {
    border-color: var(--darkest);
    transition: all 0.5s ease;
}

.blue{
    background: #7abcff
}

.orange{
    background: var(--orange);
}