.zone {
    font-size: 1.25rem;
    color: var(--text-dark);
}

.main-nav{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 15px;
}

.push{
    margin-left: auto;
}

li{
    display: flex;
    margin-inline: 10px;
    align-items: center;
}


a {
    color: var(--text-dark);
    text-decoration: None;
    height: 2.35rem;
    border: 1px solid transparent; 
    border-radius: 8px;
    padding-block: 5px;
    padding-inline: 8px;
    transition: all 0.25s ease;
}

a:hover, a:focus {
    border-color: var(--border-dark);
    transition: all 0.5s ease;
}

.gradient{
    background: var(--main-bg-gradient);
}