.zone {
    font-size: 1.25rem;
}

.main-nav{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 15px;
}

.push{
    margin-left: auto;
}

li{
    padding-inline: 15px;
    margin-inline: 10px;
    height: 2.35rem;
    border: 1px solid transparent; 
    border-radius: 8px;
    padding-block: 5px;
    padding-inline: 8px;
    transition: all 0.25s ease;
}


a {
    color: var(--darkest);
    text-decoration: None;
}

li:hover, li:focus {
    border-color: var(--darkest);
    transition: all 0.5s ease;
}

.blue{
    background: #7abcff
}

.orange{
    background: var(--orange-bg-gradient);
}