.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-inline: auto;
    margin-block: 5rem 8rem;
    background: var(--solid-bg);
    padding: 2rem;
    border-radius: 25px;
    color: var(--text-light);
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    h1 {
        color: var(--h1);
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }
    
}

.inputs {
    margin-top: 2.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    background: var(--form-field);
    color: var(--form-field-text);
    font-size: 1.25rem;
    border-radius: 8px;
    padding-inline: 1rem;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--form-field-text);
    font-size: 1.25rem;
    padding-inline: 1rem;
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-block: 2.5rem;
}

.submit-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-block: 1rem 1.5rem;
}

.signup-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .signup {
        color: var(--text-light);
        text-decoration: underline;
        padding-inline: 1rem;
        transition: all 0.25s ease;
    }

    .signup:hover, .signup:focus {
        color: var(--border-main);
        transition: all 0.5s ease;
    }
}

.submit{
    width: 100%;
    color: var(--text-main);
    font-size: 1.25rem;
    font-weight: 700;
    height: 100%;
    background-color: var(--solid-bg-2); /* Dark background color */
    border: 1px solid transparent;
    border-radius: 8px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer;
    transition: all 0.25s ease;
}

.submit:hover, .submit:focus {
    border: 1px solid var(--border-main);
    transition: all 0.5s ease;
}

@media (max-width: 1000px) {
    .container {
        width: 60%;
        max-width: 60%;
    }
}

@media (max-width: 650px) {
    .container {
        margin-block: 2.5rem 4rem;
        width: 90%;
        max-width: 90%;
        padding-inline: 0.5rem;
    }
    
    .submit-container{
        margin-bottom: 1.5rem;
    }

    .header h1 {
        font-size: 2rem;
    }
}