.note-list {
	padding: 2rem 1rem;
	width: 100%;
}

.note-list h2, h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--h2);
	margin-bottom: 1rem;
}

textarea {
	width: 100%;
	resize: none;
    appearance: none;
	outline: none;
	border: none;
	border-radius: 8px;
	background: none;
	padding: 0.75rem;
	display: block;
	word-wrap: normal;
	overflow-y: scroll;
	white-space: pre-wrap;
    scrollbar-color: var(--orange) var(--light);
    color: var(--text-light);
    font-size: 1.25rem;
	font-weight: 300;
}

.content textarea {
	max-height: 10rem;
}

#notes .note {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    max-height: none;
}

.note .content {
	flex: 1 1 0%;
}

.note .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	padding: 0.5rem;
	border-radius: 8px;
	transition: all 0.25s ease;
}

.note .actions {
	display: flex;
	align-items: top;
	margin: 0 -0.5rem 0 1rem;
}

.note .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 8px;
	height: 2.5rem;
	transition: all 0.25s ease;
}

.note .actions button:hover, .note .actions button:active {
	border: 1px solid var(--orange);
	transition: all 0.5s ease;
}

.note .actions .delete:hover, .note .actions .delete:active {
	border: 1px solid var(--light-crimson);
	transition: all 0.5s ease;
}

.note .actions .edit {
	color: var(--orange);
}

.note .actions .delete {
	color: var(--light-crimson);
}

.dialog-container {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--modal-shadow);
	opacity: 100%;
	transition: all .25s ease;
}

dialog {
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    margin: auto;
    width: 60%;
    height: 80%;
    background: var(--darkest);
    padding: 2rem;
    border: 1px solid var(--orange);
    border-radius: 25px;
    color: var(--text-light);
	opacity: 100%;
	transition: all 1s ease;
}

@media (max-width: 1200px) {
	dialog {
		width: 80%;
	}

	.note {
		flex-direction: column;
	}

	.note .actions {
		justify-content: space-between;
		margin: 1rem 0 0 0;
	}
}

.delete-dialog {
	height: fit-content;
	width: 30%;
}

.delete-message {
	padding-bottom: 1.5rem;
}

dialog textarea {
    height: 82%;
	background-color: var(--dark);
	margin-bottom: 1rem;
	resize: none;
	color: var(--text-light)
}

.buttons {
	display: flex;
	justify-content: space-between;
}

dialog button {
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 8px;
	height: 2.5rem;
    color: var(--orange);
	transition: all 0.25s ease;
}

.save:hover, .save:active {
	border: 1px solid var(--orange);
	transition: all 0.5s ease;
}

.cancel {
    color: var(--light);
	transition: all 0.25s ease;
}

.cancel:hover, .cancel:active {
	border: 1px solid var(--light);
	transition: all 0.5s ease;
}

.delete {
    color: var(--light-crimson);
	transition: all 0.25s ease;
}

.delete:hover, .delete:active {
	border: 1px solid var(--light-crimson);
	transition: all 0.5s ease;
}